<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Hotel Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/menu_bar :: nav"></div>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <div class = "card-body">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <h6>  <strong>Room Name: </strong> </h6>
                                </td>
                                <td>
                                    <span th:text = "${invoice.roomName}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>  <strong>Room Price:  </strong> </h6>
                                </td>
                                <td>
                                    <span th:text = "${invoice.price}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>  <strong>From:  </strong> </h6>
                                </td>
                                <td>
                                    <span th:text = "${#dates.format(invoice.fromDate, 'yyyy-MM-dd')}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>  <strong>To:  </strong> </h6>
                                </td>
                                <td>
                                    <span th:text = "${#dates.format(invoice.toDate, 'yyyy-MM-dd')}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>  <strong>Student Discount: </strong> </h6>
                                </td>
                                <td>
                                    <span th:text = "${invoice.studentDiscount}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>  <strong>Special Holiday Discount: </strong> </h6>
                                </td>
                                <td>
                                    <span th:text = "${invoice.DateDiscount}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>  <strong>Total:</strong> </h6>
                                </td>
                                <td>
                                    <span th:text = "${invoice.total}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>

            </div>
        </div>
    </div>
</div>
</body>
</html>