<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <form  method="POST" th:action="@{/login}" th:object="${user}">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group">
            <span th:text="${message}"></span>
            <div>
            </div>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true" th:field="*{username}"/>
            <div>
            </div>
            <input name="password" type="password" class="form-control" placeholder="Password" th:field="*{password}" />
            <span class="has-error" th:text="${error}"></span>
            <div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="/registration">Create an account</a></h4>
        </div>
    </form>
</div>

<script src="/js/main.js"></script>
</body>
</html>
