<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>

<body>
<div class="container">

    <form  method="POST" th:action="@{/login}" th:object="${user}">
        <h2 class="form-heading">Log in</h2>
        <br>
        <span th:text="${message}"></span>
        <span th:text="${error}"></span>
        <br>
        <div class="form-group">
            <span th:text="${session.message}"></span>
            <span class="has-error" th:text="${session.error}"></span>
            <div>
            </div>
            <input name="email" type="text" class="form-control" placeholder="Email"
                   autofocus="true" th:field="*{email}" required/>
            <span class="has-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

            <div>
            </div>
            <input name="password" type="password" class="form-control" placeholder="Password" th:field="*{password}" required/>
            <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="/registration">Create an account</a></h4>
        </div>
    </form>
</div>

</body>
</html>
