<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1"/>
  <title>Hotel Management System</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"/>
</head>
<body>
<div th:replace="fragments/menu_bar :: nav"></div>

<div class ="container">
  <div class = "row">
    <h1> List Rooms </h1>
  </div>

  <div class = "row">
    <div class = "col-lg-3">
      <a th:href = "@{/rooms_mgn/new}" class = "btn btn-primary btn-sm mb-3"> Add Room</a>
    </div>
  </div>
  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> Room Name</th>
      <th> Room Price </th>
      <th> Room description </th>
      <th> Actions </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "room: ${rooms}">
      <td th:text = "${room.name}"></td>
      <td th:text = "${room.price}"></td>
      <td th:text = "${room.description}"></td>
      <td>
        <a th:href = "@{/rooms_mgn/edit/{id}(id=${room.id})}"
           class = "btn btn-primary">Update</a>

        <a th:href = "@{/rooms_mgn/{id}(id=${room.id})}"
           class = "btn btn-danger">Delete</a>

      </td>
    </tr>
    </tbody>

  </table>

</div>
</body>
</html>