<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="ISO-8859-1">
    <title>Hotel Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<div th:insert="fragments/menu_bar :: nav"></div>

<div class ="container">
    <div class = "row">
        <h1> Profile </h1>
    </div>

    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Manager </th>
            <th> Student </th>
            <th> Action </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td th:text = "${session.user.firstName}"></td>
            <td th:text = "${session.user.lastName}"></td>
            <td th:text = "${session.user.email}"></td>
            <td th:if="${session.user.isManager}" > Yes</td>
            <td th:unless="${session.user.isManager}" > No</td>
            <td th:if="${session.user.isStudent}" > Yes</td>
            <td th:unless="${session.user.isStudent}" > No</td>
            <td>
                <a th:href = "@{/profile/edit}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/profile/delete}"
                   class = "btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>


</div>
</body>
</html>